<h1> New Appearence Form: </h1>

<% if flash[:my_errors] %>
   <% flash[:my_errors].each do |err| %>
        <%= err %>
    <% end %>
<% end %>

<%= form_for @appearence do |f| %>
    <%= f.label :guest_id %><br>
    <%= f.collection_select :guest_id, Guest.all, :id, :name %><br>
    <br>
    <%= f.label :episode_id %><br>
    <%= f.collection_select :episode_id, Episode.all, :id, :number %><br>
    <br>
    <%= f.label :rating %><br>
    <%= f.number_field :rating %><br>
    <br>
    <%= f.submit %>

<% end %>