<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
    <%= error %>
    <% end %>
<br>

<h1>Create a new appearance here</h1>

<%= form_for @appearance do |f| %>
        <br>
        <br>
        <%= f.label :guest_name %>
        <%= f.collection_select :guest_id, Guest.all, :id, :name %>
        <br>
        <br>
        <%= f.label :episode%>
        <%= f.collection_select :episode_id, Episode.all, :id, :date %>
        <br>
        <br>
        <%= f.label :rating %>
        <%= f.number_field :rating %>
        <br>
        <br>
    <%= f.submit %>
<% end %>