<h3> Appearance Form </h3>

<%= form_for @appearance do |f| %>
  <%= f.label :guest_id %>
  <%= f.collection_select(:guest_id, Guest.all, :id, :name) %>
  <br>
  <br>
  <%= f.label :episode_id %>
  <%= f.collection_select(:episode_id, Episode.all, :id, :number) %>
  <br>
  <br>
  <%= f.label :rating %>
  <%= f.number_field :rating, {within: 1..10}%>
  <br>
  <br>
  <%= f.submit %>
<% end %>
