<h1>Appearances#new</h1>
<p>Find me in app/views/appearances/new.html.erb</p>

<% if flash[:error_throw] %>
    <% flash[:error_throw].each do |error| %>
    <%= error %>
<% end %>


<h2>Create an appearance</h2>
<%= form_for(@apearance) do |f| %>
    <%= f.label :guest_id %>
    <%= f.collection_select :guest_id, Guest.all, :id, :name %>
    <br>
    <%= f.label :episode_id %>
    <%= f.collection_select :episode_id, Episode.all, :id, :number %>
    <br>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
    <br>
    <%= f.submit %>
    <% end %>
<% end %>
    